@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-display: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body,
main {
	min-height: 0;
	height: 100%;
	min-width: 0;
	width: 100%;
}

.covid-light-theme {
	--covid-default: theme('colors.gray.900');

	--covid-primary: theme('colors.purple.600');
	--covid-primary-100: theme('colors.purple.100');
	--covid-primary-200: theme('colors.purple.200');
	--covid-primary-300: theme('colors.purple.300');
	--covid-primary-400: theme('colors.purple.400');
	--covid-primary-500: theme('colors.purple.500');

	--mui-primary-rgb: 128, 90, 213;
	--covid-secondary: theme('colors.teal.600');
	--mui-secondary-rgb: 49, 151, 149;
	--covid-success: theme('colors.green.600');
	--covid-error: theme('colors.red.600');
	--covid-info: theme('colors.blue.600');
	--covid-warning: theme('colors.orange.600');

	--covid-link: theme('colors.gray.400');
	--covid-link-active: theme('colors.gray.800');

	--covid-nav-link: theme('colors.gray.100');
	--covid-nav-link-active: theme('colors.blue.500');

	--covid-header-background: theme('colors.indigo.900');
	--covid-body-background: theme('colors.gray.200');
	--covid-card-background: theme('colors.gray.100');
	--covid-footer-background: theme('colors.gray.300');

	--covid-on-primary: theme('colors.purple.100');
	--mui-on-primary-rgb: 250, 245, 255;
	--covid-on-secondary: theme('colors.teal.100');
	--mui-on-secondary-rgb: 230, 255, 250;
	--covid-on-header: theme('colors.indigo.200');
	--covid-on-body: var(--covid-default);
	--covid-on-footer: theme('colors.gray.900');

	--covid-btn-box-shadow: 0 0 2px 0 theme('colors.gray.600');

	--covid-box-shadow-color: theme('colors.gray.500');

	--mui-icon-hover: rgba(26, 32, 44, 0.04);

	--covid-chart-grid: theme('colors.gray.400');
	--covid-chart-tooltip-background: theme('colors.gray.800');
	--covid-chart-tooltip-text: theme('colors.gray.200');
}

.covid-dark-theme {
	--covid-default: theme('colors.gray.400');

	--covid-primary: theme('colors.pink.600');
	--covid-primary-100: theme('colors.pink.100');
	--covid-primary-200: theme('colors.pink.200');
	--covid-primary-300: theme('colors.pink.300');
	--covid-primary-400: theme('colors.pink.400');
	--covid-primary-500: theme('colors.pink.500');

	--mui-primary-rgb: 213, 63, 140;
	--covid-secondary: theme('colors.orange.600');
	--mui-secondary-rgb: 221, 107, 32;
	--covid-success: theme('colors.green.600');
	--covid-error: theme('colors.red.600');
	--covid-info: theme('colors.teal.600');
	--covid-warning: theme('colors.yellow.600');

	--covid-link: theme('colors.red.400');
	--covid-link-active: theme('colors.red.800');

	--covid-nav-link: theme('colors.gray.100');
	--covid-nav-link-active: theme('colors.blue.500');

	--covid-header-background: theme('colors.gray.800');
	--covid-body-background: theme('colors.gray.900');
	--covid-card-background: theme('colors.gray.800');
	--covid-footer-background: theme('colors.gray.700');

	--covid-on-primary: theme('colors.pink.100');
	--mui-on-primary-rgb: 255, 245, 247;
	--covid-on-secondary: theme('colors.orange.100');
	--mui-on-secondary-rgb: 255, 250, 240;
	--covid-on-header: theme('colors.gray.200');
	--covid-on-body: var(--covid-default);
	--covid-on-footer: theme('colors.gray.100');

	--covid-btn-box-shadow: 0 0 2px 0 theme('colors.gray.100');
	--covid-box-shadow-color: theme('colors.gray.600');

	--mui-icon-hover: rgba(203, 213, 224, 0.04);

	--covid-chart-grid: theme('colors.gray.700');
	--covid-chart-tooltip-background: theme('colors.gray.200');
	--covid-chart-tooltip-text: theme('colors.gray.900');
}
