.themeSwitchSlider {
}

.themeSwitchSlider:before {
	border-radius: 50%;
	background: var(--covid-secondary);
	bottom: 4px;
	content: '';
	height: 1.5em;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 1.5em;
}

.themeSwitchCheckbox {
}

.themeSwitchCheckbox:checked + .themeSwitchSlider:before {
	transform: translateX(1.8em);
}
