.app-header {
	flex: 0 0 50px;

	.themeSwitchSlider:before {
		border-radius: 50%;
		background: var(--covid-header-background);
		bottom: 2px;
		content: '';
		height: 1.3em;
		left: 2px;
		position: absolute;
		transition: 0.4s;
		width: 1.3em;
	}

	.themeSwitchCheckbox:checked + .themeSwitchSlider:before {
		transform: translateX(1.4em);
	}

	a {
		color: var(--covid-nav-link);
		white-space: nowrap;
	}

	&__navigation {
		a {
			padding: 0 15px;
		}
	}
}
