a {
	color: var(--covid--link);

	&:hover,
	&.active {
		color: var(--covid-link-active);
	}

	&.active {
		font-weight: 600;
	}
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	$primary: var(--covid-primary);
	box-shadow: inset 0 0 6px $primary;
}

*::-webkit-scrollbar-thumb {
	background: var(--covid-primary);
	border: 2px solid transparent;
	border-radius: 100px;

	&:hover,
	&:active {
		background: var(--covid-primary);
	}
}

*::-webkit-scrollbar-corner {
	background: var(--covid-body-background);
}
